body {
    font-family: Andale Mono, monospace;}

h1, h2 {
    text-align: center;
    color: #ffffff;}

p {
    text-align: center;
    color: #ffffff;}

li {
    text-align: center;
    color: #ffffff;}

div.box {
    margin: 0 auto;
    height: 110px;
    width: 600px;
    background-color: #ff0000;}

body {
    background-color: rgb(0, 119, 255);}